<div class="container">
  <h1>Welcome to Volunteer Tracker</h1>

  <h3>What would you like to do?</h3>
  <a href="/projects"><button type="button" class="btn btn-primary" name="button">Go to projects page</button></a>
  <a href="/volunteers"><button type="button" class="btn btn-info" name="button">Go to volunteers page</button></a>

</div>
