<div class="container">
  <h1>Volunteers Page</h1>
  <% if @volunteers.any? %>
    <h3>Volunteer List</h3>
    <ul>
      <% @volunteers.each() do |volunteer| %>
        <a href="volunteers/<%= volunteer.id()%>"><li><%= volunteer.name() %></li></a>
      <% end %>
    </ul>
  <% else %>
    <h3>You do not have any volunteers yet.</h3>
  <% end %>

</div>
