<div class="container">
  <h1>Project: <%= @project.name() %></h1>
  <h3>What would you like to do?</h3>
  <button id="add" type="button" name="button" class="btn btn-success">Update project name</button>
  <form class="add" action="/projects/<%= @project.id() %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" value="">
    </div>
    <button type="submit" name="button" class="btn btn-warning">Submit</button>
  </form>
  <form action="/projects" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="id" value="<%= @project.id() %>">
    <button type="submit" class="btn btn-primary">Delete this Project</button>
  </form>
  <a href="/"><button type="button" class="btn btn-info" name="button">Go Home</button></a>
</div>
