<div class="container">
  <h1>Volunteers Page</h1>
  <% if @volunteers.any? %>
    <h3>Volunteer List</h3>
    <ul>
      <% @volunteers.each() do |volunteer| %>
        <a href="volunteers/<%= volunteer.id()%>"><li><%= volunteer.name() %></li></a>
      <% end %>
    </ul>
  <% else %>
    <h3>You do not have any volunteers yet.</h3>
  <% end %>
  <button id="add" type="button" class="btn btn-primary" name="button">Add a volunteer</button>

  <form class="add" action="/volunteers" method="post">
    <div class="form-group">
      <label for="first_name">Volunteer first name</label>
      <input type="text" name="first_name" value="" required>
    </div>
    <div class="form-group">
      <label for="last_name">Volunteer last name</label>
      <input type="text" name="last_name" value="" required>
    </div>
    <button type="submit" class="btn btn-success" name="button">Submit</button>
  </form>

  <a href="/"><button type="button" class="btn btn-info" name="button">Go Home</button></a>

</div>
